# ANALIZA FOREX TRŽIŠTA


Forex ili FX tržište, dolazi od engleskih riječi __for__eign i __ex__change, a označava devizno tržište. Dnevni opseg trgovanja na Forex tržištu je 5,5 bilijuna dolara i ono je najlikvidnije i najtransparentnije tržište na svijetu. Osim valutnih parova, moguće je trgovati s naftom, zlatom, srebrom i drugim plemenitim metalima te mnogim drugim financijskim instrumentima. Trgovina se odvija preko platforme, dok je posrednik kompanija čiju platformu koristite.

U ovom radu, na temelju prošlih podataka, pokušat ćemo predvidjeti buduće podatke koristeći SVM regresiju, te ćemo  izračunati korelacije podataka za razne parove parova valuta.
Na kraju ćemo za svaki nacrtati pripadne grafove i donijeti zaključak.

## Analiza podataka

Podaci su preuzeti preko programa _MetaTrader 4 Admiral Markets_ i spremljeni u mapu _Podaci_.
Odabrani podaci prikazuju 30-minutni interval trgovanja glavnim valutama, odnosno sve parove valuta: američki dolar (USD), euro od Europske ekonomske zajednice (EUR), japanski jen (JPY), britanska funta (GBP), švicarski franak (CHF) i australijski dolar (AUD).

Značajke podataka su: 
    1. Time - 30-minutni interval trgovanja
    2. Open - cijena parova valuta na početku zadanog intervala
    3. High - najveća cijena parova valuta u zadanom intervalu
    4. Low - najmanja cijena parova valuta u zadanom intervalu
    5. Close - cijena parova valuta na kraju zadanog intervala
    6. Volume - broj transakcija u zadanom intervalu

In [1]:
import pandas as pd

names = ['Date', 'Time', 'Open', 'High', 'Low', 'Close', 'Volume']
AUDCHF = pd.read_csv('Podaci/AUDCHF30.csv', names = names)
AUDCHF

              Date   Time     Open     High      Low    Close  Volume
0       1993.05.14  00:00  1.01940  1.01940  1.01940  1.01940       1
1       1993.05.17  00:00  1.02950  1.02950  1.02950  1.02950       1
2       1993.05.18  00:00  1.02480  1.02480  1.02480  1.02480       1
3       1993.05.19  00:00  1.01950  1.01950  1.01950  1.01950       1
4       1993.05.20  00:00  1.02140  1.02140  1.02140  1.02140       1
5       1993.05.21  00:00  1.02100  1.02100  1.02100  1.02100       1
6       1993.05.24  00:00  1.02140  1.02140  1.02140  1.02140       1
7       1993.05.25  00:00  1.02170  1.02170  1.02170  1.02170       1
8       1993.05.26  00:00  1.01630  1.01630  1.01630  1.01630       1
9       1993.05.27  00:00  0.99140  0.99140  0.99140  0.99140       1
10      1993.05.28  00:00  0.97420  0.97420  0.97420  0.97420       1
11      1993.05.31  00:00  0.96380  0.96380  0.96380  0.96380       1
12      1993.06.01  00:00  0.96000  0.96000  0.96000  0.96000       1
13      1993.06.02  00:00  0.96440  0.96440  0.96440  0.96440       1
14      1993.06.03  00:00  0.97000  0.97000  0.97000  0.97000       1
15      1993.06.04  00:00  0.98840  0.98840  0.98840  0.98840       1
16      1993.06.07  00:00  0.97780  0.97780  0.97780  0.97780       1
17      1993.06.08  00:00  0.97940  0.97940  0.97940  0.97940       1
18      1993.06.09  00:00  0.99480  0.99480  0.99480  0.99480       1
19      1993.06.10  00:00  0.98830  0.98830  0.98830  0.98830       1
20      1993.06.11  00:00  0.98830  0.98830  0.98830  0.98830       1
21      1993.06.14  00:00  0.98080  0.98080  0.98080  0.98080       1
22      1993.06.15  00:00  0.99760  0.99760  0.99760  0.99760       1
23      1993.06.16  00:00  1.00500  1.00500  1.00500  1.00500       1
24      1993.06.17  00:00  0.99710  0.99710  0.99710  0.99710       1
25      1993.06.18  00:00  1.01710  1.01710  1.01710  1.01710       1
26      1993.06.21  00:00  1.02880  1.02880  1.02880  1.02880       1
27      1993.06.22  00:00  1.03300  1.03300  1.03300  1.03300       1
28      1993.06.23  00:00  1.01550  1.01550  1.01550  1.01550       1
29      1993.06.24  00:00  1.01400  1.01400  1.01400  1.01400       1
...            ...    ...      ...      ...      ...      ...     ...
137565  2018.04.05  03:30  0.74013  0.74098  0.73986  0.74091    1548
137566  2018.04.05  04:00  0.74090  0.74090  0.73971  0.73982    1424
137567  2018.04.05  04:30  0.73982  0.74085  0.73978  0.74076    1739
137568  2018.04.05  05:00  0.74077  0.74143  0.74058  0.74061    1328
137569  2018.04.05  05:30  0.74059  0.74081  0.74038  0.74038     803
137570  2018.04.05  06:00  0.74039  0.74046  0.73946  0.73973    1326
137571  2018.04.05  06:30  0.73973  0.74003  0.73956  0.73998    1317
137572  2018.04.05  07:00  0.73998  0.74002  0.73880  0.73893    1407
137573  2018.04.05  07:30  0.73894  0.73947  0.73886  0.73940    1035
137574  2018.04.05  08:00  0.73940  0.73948  0.73900  0.73930    1207
137575  2018.04.05  08:30  0.73930  0.73951  0.73876  0.73921    1455
137576  2018.04.05  09:00  0.73921  0.74000  0.73900  0.73995    2257
137577  2018.04.05  09:30  0.73996  0.74004  0.73960  0.73983    1947
137578  2018.04.05  10:00  0.73983  0.74035  0.73937  0.73993    3338
137579  2018.04.05  10:30  0.73991  0.73993  0.73924  0.73936    2457
137580  2018.04.05  11:00  0.73936  0.74004  0.73926  0.73949    1969
137581  2018.04.05  11:30  0.73949  0.73955  0.73827  0.73827    1827
137582  2018.04.05  12:00  0.73826  0.73836  0.73772  0.73775    2248
137583  2018.04.05  12:30  0.73775  0.73778  0.73705  0.73755    2164
137584  2018.04.05  13:00  0.73754  0.73814  0.73732  0.73808    1732
137585  2018.04.05  13:30  0.73806  0.73816  0.73772  0.73806    1779
137586  2018.04.05  14:00  0.73807  0.73940  0.73795  0.73932    1814
137587  2018.04.05  14:30  0.73934  0.73987  0.73914  0.73943    2107
137588  2018.04.05  15:00  0.73943  0.74020  0.73911  0.73972    2856
137589  2018.04.05  15:30  0.73969  0.74021  0.73926  0.73949    4150
137590  2018.04.05  16:00  0.73948  0.73997  0.73942  0.73970    2881
137591  2018.04.05  16:30  0.73970  0.74029  0.73925  0.74009    4493
137592  2018.04.05  17:00  0.74012  0.74057  0.73974  0.74032    4096
137593  2018.04.05  17:30  0.74032  0.74066  0.73960  0.74016    4980
137594  2018.04.05  18:00  0.74017  0.74070  0.73954  0.73997    3860

[137595 rows x 7 columns]

In [2]:
!head Podaci/EURUSD30.csv
print("\n")
!head Podaci/AUDCHF30.csv

1971.01.04,00:00,0.53690,0.53690,0.53690,0.53690,1
1971.01.05,00:00,0.53660,0.53660,0.53660,0.53660,1
1971.01.06,00:00,0.53650,0.53650,0.53650,0.53650,1
1971.01.07,00:00,0.53680,0.53680,0.53680,0.53680,1
1971.01.08,00:00,0.53710,0.53710,0.53710,0.53710,1
1971.01.11,00:00,0.53710,0.53710,0.53710,0.53710,1
1971.01.12,00:00,0.53710,0.53710,0.53710,0.53710,1
1971.01.13,00:00,0.53730,0.53730,0.53730,0.53730,1
1971.01.14,00:00,0.53720,0.53720,0.53720,0.53720,1
1971.01.15,00:00,0.53760,0.53760,0.53760,0.53760,1


1993.05.14,00:00,1.01940,1.01940,1.01940,1.01940,1
1993.05.17,00:00,1.02950,1.02950,1.02950,1.02950,1
1993.05.18,00:00,1.02480,1.02480,1.02480,1.02480,1
1993.05.19,00:00,1.01950,1.01950,1.01950,1.01950,1
1993.05.20,00:00,1.02140,1.02140,1.02140,1.02140,1
1993.05.21,00:00,1.02100,1.02100,1.02100,1.02100,1
1993.05.24,00:00,1.02140,1.02140,1.02140,1.02140,1
1993.05.25,00:00,1.02170,1.02170,1.02170,1.02170,1
1993.05.26,00:00,1.01630,1.01630,1.01630,1.01630,1
1993.05.27,00:00,0.99140,0.99140,0.99140,0.99140,1

In [3]:
if(AUDCHF["Time"] != "00:00").any():
    print(AUDCHF.loc[AUDCHF["Time"] != "00:00", :].head(1))  
print("\nNpr. Za par AUD-CHF datum početka trgovanja nije isti kao i za par EUR-USD. 30-minutni interval trgovanja bilježi se od 1.5.2007.\n")

            Date   Time    Open    High     Low   Close  Volume
3398  2007.05.01  00:30  1.0015  1.0015  1.0009  1.0009      70

Npr. Za par AUD-CHF datum početka trgovanja nije isti kao i za par EUR-USD. 30-minutni interval trgovanja bilježi se od 1.5.2007.

Zbog različitih početaka trgovanja raznim valutama usredotočit ćemo se na podatke koji su dobiveni u jednakim vremenskim intervalima kako bismo ih mogli uspoređivati. Konkretno, analizirat ćemo podatke u zadnjih 5 godina.

In [4]:
AUDCHF.head()

         Date   Time    Open    High     Low   Close  Volume
0  1993.05.14  00:00  1.0194  1.0194  1.0194  1.0194       1
1  1993.05.17  00:00  1.0295  1.0295  1.0295  1.0295       1
2  1993.05.18  00:00  1.0248  1.0248  1.0248  1.0248       1
3  1993.05.19  00:00  1.0195  1.0195  1.0195  1.0195       1
4  1993.05.20  00:00  1.0214  1.0214  1.0214  1.0214       1

In [5]:
AUDCHF.describe()

,Open,High,Low,Close,Volume
count,137595.000000,137595.000000,137595.000000,137595.000000,137595.000000
mean,0.864556,0.865391,0.863711,0.864555,1470.730295
std,0.103995,0.104081,0.103911,0.103994,1174.613547
min,0.110300,0.110560,0.024400,0.110280,1.000000
25%,0.758770,0.759390,0.758150,0.758790,633.000000
50%,0.869300,0.870300,0.868310,0.869280,1242.000000
75%,0.957610,0.958470,0.956730,0.957600,2020.000000
max,1.175900,1.176200,1.162900,1.174600,31817.000000

In [6]:
from datetime import datetime

toDateTime = lambda x : datetime.strptime(x, '%Y.%m.%d  %H:%M')

AUDCHF['Date&Time'] = AUDCHF['Date'].map(str) + " " + AUDCHF['Time'].map(str)
AUDCHF['Date&Time'] = [toDateTime(x) for x in AUDCHF['Date&Time']]
del AUDCHF['Date']
del AUDCHF['Time']
AUDCHF.set_index(['Date&Time'], inplace = True)
AUDCHF

                        Open     High      Low    Close  Volume
Date&Time
1993-05-14 00:00:00  1.01940  1.01940  1.01940  1.01940       1
1993-05-17 00:00:00  1.02950  1.02950  1.02950  1.02950       1
1993-05-18 00:00:00  1.02480  1.02480  1.02480  1.02480       1
1993-05-19 00:00:00  1.01950  1.01950  1.01950  1.01950       1
1993-05-20 00:00:00  1.02140  1.02140  1.02140  1.02140       1
1993-05-21 00:00:00  1.02100  1.02100  1.02100  1.02100       1
1993-05-24 00:00:00  1.02140  1.02140  1.02140  1.02140       1
1993-05-25 00:00:00  1.02170  1.02170  1.02170  1.02170       1
1993-05-26 00:00:00  1.01630  1.01630  1.01630  1.01630       1
1993-05-27 00:00:00  0.99140  0.99140  0.99140  0.99140       1
1993-05-28 00:00:00  0.97420  0.97420  0.97420  0.97420       1
1993-05-31 00:00:00  0.96380  0.96380  0.96380  0.96380       1
1993-06-01 00:00:00  0.96000  0.96000  0.96000  0.96000       1
1993-06-02 00:00:00  0.96440  0.96440  0.96440  0.96440       1
1993-06-03 00:00:00  0.97000  0.97000  0.97000  0.97000       1
1993-06-04 00:00:00  0.98840  0.98840  0.98840  0.98840       1
1993-06-07 00:00:00  0.97780  0.97780  0.97780  0.97780       1
1993-06-08 00:00:00  0.97940  0.97940  0.97940  0.97940       1
1993-06-09 00:00:00  0.99480  0.99480  0.99480  0.99480       1
1993-06-10 00:00:00  0.98830  0.98830  0.98830  0.98830       1
1993-06-11 00:00:00  0.98830  0.98830  0.98830  0.98830       1
1993-06-14 00:00:00  0.98080  0.98080  0.98080  0.98080       1
1993-06-15 00:00:00  0.99760  0.99760  0.99760  0.99760       1
1993-06-16 00:00:00  1.00500  1.00500  1.00500  1.00500       1
1993-06-17 00:00:00  0.99710  0.99710  0.99710  0.99710       1
1993-06-18 00:00:00  1.01710  1.01710  1.01710  1.01710       1
1993-06-21 00:00:00  1.02880  1.02880  1.02880  1.02880       1
1993-06-22 00:00:00  1.03300  1.03300  1.03300  1.03300       1
1993-06-23 00:00:00  1.01550  1.01550  1.01550  1.01550       1
1993-06-24 00:00:00  1.01400  1.01400  1.01400  1.01400       1
...                      ...      ...      ...      ...     ...
2018-04-05 03:30:00  0.74013  0.74098  0.73986  0.74091    1548
2018-04-05 04:00:00  0.74090  0.74090  0.73971  0.73982    1424
2018-04-05 04:30:00  0.73982  0.74085  0.73978  0.74076    1739
2018-04-05 05:00:00  0.74077  0.74143  0.74058  0.74061    1328
2018-04-05 05:30:00  0.74059  0.74081  0.74038  0.74038     803
2018-04-05 06:00:00  0.74039  0.74046  0.73946  0.73973    1326
2018-04-05 06:30:00  0.73973  0.74003  0.73956  0.73998    1317
2018-04-05 07:00:00  0.73998  0.74002  0.73880  0.73893    1407
2018-04-05 07:30:00  0.73894  0.73947  0.73886  0.73940    1035
2018-04-05 08:00:00  0.73940  0.73948  0.73900  0.73930    1207
2018-04-05 08:30:00  0.73930  0.73951  0.73876  0.73921    1455
2018-04-05 09:00:00  0.73921  0.74000  0.73900  0.73995    2257
2018-04-05 09:30:00  0.73996  0.74004  0.73960  0.73983    1947
2018-04-05 10:00:00  0.73983  0.74035  0.73937  0.73993    3338
2018-04-05 10:30:00  0.73991  0.73993  0.73924  0.73936    2457
2018-04-05 11:00:00  0.73936  0.74004  0.73926  0.73949    1969
2018-04-05 11:30:00  0.73949  0.73955  0.73827  0.73827    1827
2018-04-05 12:00:00  0.73826  0.73836  0.73772  0.73775    2248
2018-04-05 12:30:00  0.73775  0.73778  0.73705  0.73755    2164
2018-04-05 13:00:00  0.73754  0.73814  0.73732  0.73808    1732
2018-04-05 13:30:00  0.73806  0.73816  0.73772  0.73806    1779
2018-04-05 14:00:00  0.73807  0.73940  0.73795  0.73932    1814
2018-04-05 14:30:00  0.73934  0.73987  0.73914  0.73943    2107
2018-04-05 15:00:00  0.73943  0.74020  0.73911  0.73972    2856
2018-04-05 15:30:00  0.73969  0.74021  0.73926  0.73949    4150
2018-04-05 16:00:00  0.73948  0.73997  0.73942  0.73970    2881
2018-04-05 16:30:00  0.73970  0.74029  0.73925  0.74009    4493
2018-04-05 17:00:00  0.74012  0.74057  0.73974  0.74032    4096
2018-04-05 17:30:00  0.74032  0.74066  0.73960  0.74016    4980
2018-04-05 18:00:00  0.74017  0.74070  0.73954  0.73997    3860

[137595 rows x 5 columns]

In [7]:
%matplotlib inline
AUDCHF[['Open', 'Close', 'High', 'Low']].plot()

AUDCHF

def obrada(redak):
    
    return ""

type(AUDCHF)
print(AUDCHF.iat[2000,4])

print(AUDCHF.loc[["2013.01.01":"2018.04.01"], :])

SyntaxError: invalid syntax (<ipython-input-7-678d5ab60479>, line 13)